body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(60, 1%, 45%);
    background-image: url("Elements/calcie-mob.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 0.5s ease, color 0.5s ease;
}

body.l{
    background-image: url("Elements/light_vert.jpg");
}

@media(max-width: 480px) {
    body {
        /*  background-image: url("Elements/calcie-mog") no-repeat center center fixed; */
        background-size: cover;
    }
    #container{
        max-width: 300px;
        overflow-x  : hidden;
        position: fixed;
    }
    #outblock{
        max-width: 320px;
        display: block;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 10px;
    }
    #themebtn{
        margin: auto;
        margin-top: 1%;
        margin-right: 1%;
    }
   
}

@media(min-width: 481px){
    body{
        background-image: url("Elements/cal_horg.jpg");
    }
    body.l{
        background-image: url("Elements/light_horg.jpg");
    }
    #outblock{
        max-width: 320px;
        display: block;
        font-size: 10px;
    }
    #themebtn{
        margin: auto;
        margin-right: 1%;
        margin-top: 1%;
    }
}

#outblock{
    position: relative;
    max-width: 320px;
    background-color: hsl(60, 1%, 35%);
    height: 70px;
    margin-bottom: 10px;
    border-radius: 15px 15px 15px 0;
    overflow: hidden;
    align-content: center;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    color: 000;
    font-family: 'segoe Ui','Courier New', Courier, monospace;
    transition: background-color 0.5s ease, color 0.5s ease;
}
#outblock.l{
    transition: background-color 0.5s ease, color 0.5s ease;
    background: rgb(238, 174, 202);
    background: linear-gradient(313deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

#header{
    display: flex;
    flex-direction: row; 
    align-items: center; 
}

#themebtn{
    display: flex;
    flex-direction: row;
    height: 30px;
    background: rgb(238, 174, 202);
    background: linear-gradient(313deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 50px 0 50px 50px;
    font-size: 15px;
    font-weight: 1;
    align-items: center;
    /* margin: auto; */
    /* margin-right:1%; */
    /* margin-top: 1%; */
    transition: width 2s ease;
}
.theme{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.theme.c{
    opacity: 0;
    visibility: hidden;
}

#themebtn.shrink{
    width: 30px;
    height: 30px;
    border-radius: 50px 0 50px 50px;
}

.tooltipLight {
    max-width: fit-content;
    background: hsl(60, 1%, 44%);
    content: "Theme";
    color: black;
    padding: 5px;
    border-radius: 10px 0 10px 10px;
    display: flex;
    font-size: 15px;
    font-weight: 1;
    margin-top: 30px;
    margin-left: -50px;
    align-items: center;
    justify-content: center;
}

#themebtn:hover{
    background: rgb(238, 174, 202);
    background: linear-gradient(313deg, rgb(193, 130, 225) 0%, rgba(148, 187, 233, 1) 100%);
}

#themebtn:active{
    /* background: hsl(60, 2%, 80%); */
    background: rgb(238, 174, 202);
    background: linear-gradient(33deg, rgb(193, 130, 225) 0%, rgba(148, 187, 233, 1) 100%);
}

#themebtn.l{
    background: hsl(60, 1%, 44%);
}

#themebtn.l:hover {
    background: hsl(60, 1%, 52%);
}

#themebtn.l:active {
    background: hsl(40, 2%, 80%);
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(60, 1%, 35%);
    border-radius: 15px 0 15px 15px;
    max-width: 320px;
    overflow: hidden;
    transition: background-color 0.5s ease;
}

#calculator.l{
    background: rgb(238, 174, 202);
    background: linear-gradient(313deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    transition: background-color 0.5s ease, color 0.5s ease;
}

#login{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(60, 1%, 35%);
    border-radius: 15px;
    max-width: 320px;
    overflow: hidden;
}

.login-btn{
    text-align: right;
    display: contents;
}

#display{
    width: 100%;
    padding: 0px;
    font-size: 2rem;
    text-align: right;
    border: none;
    background-color:  hsl(60, 1%, 25%);
    overflow-y: scroll;
    word-wrap: break-word;
    resize: none;
}

#display.l{
    background: rgb(222, 174, 238);
    background: linear-gradient(313deg, rgb(140, 97, 155) 0%, rgb(125, 132, 198) 100%);color: rgb(1, 1, 1);
}

#displayLogin{
    width: 100%;
    padding: 0px;
    font-size: 2rem;
    text-align: left;
    border: none;
    background-color:  hsl(60, 1%, 25%);
    color: rgb(1, 1, 1);
    overflow-y: scroll;
    word-wrap: break-word;
    resize: none;
}

#calcie{
    width: 100%;
    padding: 10px;
    font-size: 1.3rem;
    text-align: left;
    border: none;
    background-color:  hsl(60, 1%, 35%);
    color: rgb(1, 1, 1);
    overflow-y: scroll;
    word-wrap: break-word;
    resize: none;
    font-weight: normal;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.welcome, #calcie{
    color: hsl(0, 0%, 0%);
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: normal;
    font-style: italic;
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    word-wrap: break-word;;
    resize: none;
}

#display::-webkit-scrollbar{
    display: none;
}

#displayLogin::-webkit-scrollbar{
    display: none;
}

#calcie::-webkit-scrollbar{
    display: none;
}


#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    padding: 15px;

}
#admin{
    width: 300px;
    justify-content: center;
    /* text-align: center; */
    background:rgb(68, 68, 68);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#admin input, #admin textarea {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.msg-btn{
    border-radius: 15px;
    font-size: 1rem;
    width: 85px;
    height: 30px;
    /* background-color: rgb(90, 105, 105); */
}
button{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border:none;
    background-color:  hsl(60, 2%, 80%);
    font-weight: bold;
    cursor: pointer;
    font-size: 30px;
    outline: none;
}

button.l{
    background: rgb(101, 184, 230);
    background: linear-gradient(306deg, rgba(101, 184, 230, 1) 0%, rgba(175, 129, 215, 1) 100%);font-size: 2rem;
}

button.l:hover{
    background: rgb(90,162,202);
    background: linear-gradient(108deg, rgb(87, 149, 182) 0%, rgba(175,129,215,1) 100%);
}

button.l:active{
    background: rgb(64,142,186);
    background: linear-gradient(128deg, rgba(64,142,186,1) 0%, rgba(175,129,215,1) 100%);
}

.operator-btnLogin{
    margin-left: 0px;
}
button:hover button.active{
    background:  hsl(60, 2%, 65%);;
}
button:active{
    background:  hsl(60, 2%, 50%);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
button:focus,:active{
    -webkit-tap-highlight-color: transparent;
}

.operator-btn{
    background: hsl(60, 1%, 26%);
}
.operator-btn:hover{
    background: hsl(60, 1%, 56%);
}
.operator-btn:active{
    background: hsl(60, 1%, 46%);
}

.operator-btn.l {
    background: rgb(42, 142, 160);
    background: linear-gradient(128deg, rgba(42, 142, 160, 1) 0%, rgba(118, 68, 166, 1) 100%);
}

.operator-btn.l:hover {
    background: rgb(53,176,198);
    background: linear-gradient(128deg, rgba(53,176,198,1) 0%, rgba(151,87,213,1) 100%);
}

.operator-btn.l:active {
    background: rgb(36,177,202);
    background: linear-gradient(128deg, rgba(36,177,202,1) 0%, rgba(139,61,215,1) 100%);
}

#equal-btn{
    height: 210%;
    background: hsl(0, 0%, 56%);
}
#equal-btn:hover{
    background: hsl(60, 2%, 66%);
}
#equal-btn:active{
    background: hsl(0, 0%, 52%);
}


#equal-btn.l {
    height: 210%;
    background: rgb(150, 213, 224);
    background: linear-gradient(128deg, rgba(150, 213, 224, 1) 0%, rgba(153, 152, 230, 1) 100%);
}

#equal-btn.l:hover {
    background: rgb(123, 207, 222);
    background: linear-gradient(128deg, rgba(123, 207, 222, 1) 0%, rgba(122, 121, 220, 1) 100%);
}
#equal-btn.l:active {
    background: rgb(108, 209, 227);
    background: linear-gradient(128deg, rgba(108, 209, 227, 1) 0%, rgba(111, 109, 234, 1) 100%);
}


.equal-btnLogin{
    width: 200%;
    font-size: 1.1rem;
    background-color: hsl(0, 0%, 56%);
}
.equal-btnL.operator-btnLogin{
    background-color: hsl(60, 2%, 66%);
}
.equal-btnL.operator-btnLogin{
    background-color: hsl(0, 0%, 52%);
}

#Message{
    width: 400px;
    height: 50vh;
    justify-content: left;
    text-align: left;
    border-radius: 10px;
    background-color:rgba(168, 162, 107, 0.727);
    overflow-y: scroll;
    word-wrap: break-word;
    resize: none;
    
}
#Message::-webkit-scrollbar{
    display: none;
}
h2{
    font-family: Cinzel;
    font-style: normal;
    font-variant: small;
    padding-left: 10px;
    color: rgb(191, 79, 118);
}
p{
    font-size: 1.5rem;
    text-align: left;
    background-color: bisque;
    height: 100%;
    padding: 10px;

}